[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"

[packages]
django = "*"
pytest-cov = "*"
gunicorn = "*"
heroku = "*"
pytest-django = "*"
python-decouple = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"
